.link {
  color:white;
  font-size:20px;
}

.icon {
  display:block;
  margin: 20px auto;
  width:150px;
  height:150px;
}

.messageTable {
  margin-top:50px;

}

.messageDetailTable {
  width:80%;
  margin: 40px auto 0 auto;

}

.important {
  text-align:center;
}

.message {
  width:24px;
  height:24px;
}

.importantIcon {
  width:18px;
  height:23px;
}

.replyForm {
  width: 70%;
  margin: 20px auto 0 auto;
}

.replyText {
  width:600px;
  height:150px;
  margin: 20px auto 0 auto;
}

.replyBtn {
  margin: 20px auto 0 auto;
}